.tools
{
	width: 100%;
	height: 50px;
}


.app-button.tool
{
	width: 20%;
	height: 50px;
	/*border: 1px solid black;*/
	float: left;
	background-color: blue;
	
}

.settings
{
	height: 50px;
	margin: 0px;
}

.clear
{
	width: 50%;
	float: left;
}

.reset
{
	width: 50%;
	float: left;
}

.tool.pencil
{
}

.eraser
{
}

/*.app-button.pencil.active changes the image source when active
{
	background-image: url(../img/rotate.png); ../ goes up a dir
}*/