.tools {
	width: 100%;
	height: 50px;
}

.app-button.tools-Active{
	width: 20%;
	height: 50px;
	/*border: 1px solid black;*/
	float: left;
	background: #8bc63f;
}

.levelsContainer {
	height: 500px;
	/*border: 1px solid black;*/
}

.levelsLine {
	height: 60px;
	padding-top: 15px;
	/*border: 1px solid black;*/
}

.app-button.tool {
	width: 20%;
	height: 50px;
	/*border: 1px solid black;*/
	float: left;
}

.hintBox {
	z-index:0;
	position: fixed;
	float: left;
	height: 240px;
	width: 200px;
	left: 50px;
	top: 110px;
	background: #FFF;
	border-top: 1px solid #FFF;
	-webkit-box-shadow: 0 0 8px rgba(0,0,0,0.85);
	box-shadow: 0 0 8px rgba(0,0,0,0.85);
	color: #777;
	padding-right: 10px;
	padding-left: 10px;
	opacity: 1;
}

.app-button.close {
	font-weight: 300;
	font-size: 22px;
	color: #E54;
}

.close.active {
	opacity: 0.5;
}

.settings {
	height: 50px;
	margin: 0px;
}

.check {
	width: 33%;
	float: left;
}

.hint {
	width:33%;
	float:left;
}

.reset {
	width: 33%;
	float: left;
}

.levelButton {
	width:33%;
	float: left;
}

.gameCanvas{ z-index: -1;}